In [1]:
print(" mary")

 mary

In [2]:
a=[2,98,46]
a.append("Blessy")

In [3]:
a

[2, 98, 46, 'Blessy']

In [2]:
x=2
y=7

In [3]:
x+y

9

In [4]:
_+x

11

In [7]:
print(r"Im a good \nboy")

Im a good \nboy

In [8]:
r={"mary":35, "akshay":24}

In [9]:
type(r)

dict

In [10]:
print(r["mary"])

35

In [12]:
print(r["akshay"])

24

In [13]:
r["akshay"]=22

In [14]:
r

{'mary': 35, 'akshay': 22}

In [24]:
t={"emp_id":1002,"empl_name":"sony"}

In [16]:
t["emp_id"]=1005

In [17]:
t

{'emp_id': 1005, 'empl_name': 'sony'}

In [22]:
t={"mary","Blessy"}

In [19]:
type(t)

set

In [21]:
t

{'emp_id': 1002, 'empl_name': 'sony'}

In [23]:
t

{'Blessy', 'mary'}

In [25]:
t

{'emp_id': 1002, 'empl_name': 'sony'}

In [26]:
t["location"]="canada"

In [27]:
t

{'emp_id': 1002, 'empl_name': 'sony', 'location': 'canada'}

In [28]:
del t["location"]

In [29]:
t

{'emp_id': 1002, 'empl_name': 'sony'}

In [31]:
#condition statements
age=int(input("enter your age to check you are eligiable for voting or not :"))

if age <18:
    print("your age is less")

else:
    print("you can vote")

you can vote

In [33]:
age=int(input("enter your age to check you are eligiable for voting or not :"))

if age <18:
    print("your age is less")

elif age ==18 :
    print("still you can vote")  

else:
    print("you can vote")

your age is less

In [35]:
# Program to find the second-largest number from three numbers

# Input the three numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# num1 = 10
# num2 = 20
# num3 = 30

# Compare the numbers to find the second-largest
if num1 >= num2 and num1 >= num3:
    if num2 >= num3:
        second_largest = num2
    else:
        second_largest = num3
elif num2 >= num1 and num2 >= num3:
    if num1 >= num3:
        second_largest = num1
    else:
        second_largest = num3
else:
    if num1 >= num2:
        second_largest = num1
    else:
        second_largest = num2

# Print the second-largest number
print("The second-largest number is:", second_largest)

The second-largest number is: 100.0